            {% comment %} <h2
              class="text-2xl font-Inter leading-none text-black sm:text-3xl md:text-5xl"
              style="color: White"
            >
              <b class=""> Your Little </b>
            </h2>
            <h2
              class="text-2xl font-Inter leading-none text-black sm:text-3xl md:text-5xl"
              style="
                background: -webkit-linear-gradient(
                  90.94deg,
                  #00bae3 0%,
                  #0067df 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              "
            >
              <b class=""> gostwriter </b>
            </h2>

            <p class="font-Inter" style="color: lightgrey">
              Create high-quality, engaging content in seconds <br />
              using advanced generative AI technology.
            </p>

<img src='Features.png'> {% endcomment %}
{% comment %}           
            <img src="1 (2).png" alt="" />
            
            <img src="2.png" alt="" />

            <img src="3.png" alt="" /> {% endcomment %}